*
{
    margin: 25px;
}
h1  {
    /* el borde sin estilo no se ve, ademas de que border-style forzosamente debe estar debajo de border*/ 
    
    border: 15px;
    border-style: solid;
    border-radius: 70px;


    padding: 10px;
    color: blueviolet;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-style: italic;
}
p
{
    background-color: skyblue;
    color: darkblue;
    text-align: justify;
}
img
{
    /* porsc*/
    width: 40%;
}
body{
    font-family: tahoma;
    background-color: yellow;
}
